body{
    overflow-x: hidden !important;
}
/* Tablets (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .row{
        flex-direction: column;
        flex-wrap: wrap !important;
        align-items: center !important;
    }
    .col-md-3{
        max-width: 400px !important;
    }
  }
